.works-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5em 2em;

  a {
    border-bottom: none;
  }
}

.works-item {
  width: 25%;
  padding: 0 0.5em;
}

.works-category {
  margin-bottom: 0;
}
