.about-profile {
  @include vendor('display', 'flex');
  margin-bottom: 2em;

  @include breakpoint(small) {
    display: block;
  }
}

.about-profileImg {
  width: 20%;
  margin-right: 2em;
  line-height: 0;

  @include breakpoint(small) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2em;
  }

  img {
    width: 100%;
  }
}

.about-profileTexts {
  flex: 1;
}

.about-profileText {
  &:last-child {
    margin: 0;
  }
}

.about-experience {
  padding: 0;
}

.about-experienceItem {
  display: flex;
  padding-left: 0;

  @include breakpoint(medium) {
    flex-direction: column;
  }
}

.about-experiencePeriod {
  width: 320px;
  margin: 1.5em 0 0 0;

  icon {
    margin-right: 1.5em;
  }

  @include breakpoint(medium) {
    margin: 0 0 1.5em 0;
  }
}

.about-experienceBox {
  flex: 1;
}

.about-skills {
  span {
    display: inline-block;
    margin: 0 4px 4px 0;
    padding: 0.2em 1em;
    background-color: _palette(fg-bold);
    color: _palette(bg);
    line-height: 1.5em;
  }
}
